extends layout

block content
  nav
    div(class='nav-wrapper')
      a(class='left brand-logo')= title
  div(class='row center')
    h5 Welcome to #{title}! See what is happening now
    h5 Join #{title} today

  div(class='row center') 
    div(class='col s6')
      a(class='right waves-effect waves-light btn', href='./signup') Sign Up
    div(class='left col s6')
      a(class='left waves-effect waves-light btn', href='./login') Log In