extends layout

block content
  nav
    div(class='nav-wrapper')
      a(class='left brand-logo')= title
  div(class='row')
    p Welcome to #{title}! See what is happening now
    p Join #{title} today



  div(class='row') 
    div(class='col s6')
      a(class='waves-effect waves-light btn', href='./signin') Sign In
    div(class='col s6')
      a(class='waves-effect waves-light btn', href='./login') Log In