doctype html
html
  head
    //-Materialize CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    //-Materialize Javascript
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    //-Materialize icons
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    //-CSS
    link(rel='stylesheet', href='./stylesheet/style.css')
    title= title

  body
  
    block content
