extends layout

block content
 
  nav
    div(class='nav-wrapper')
      a(class='left brand-logo') LUT-Blog
      ul(id='nav-mobile', class='right')
        li
          a(href='./posts') Community
        li
          a(href='./mypage') My Page
        li
          a(href='./logout') Log Out

  div(class='row')
  form(method='POST' action='/posts/create') 
            div(class='row')
              //-User
              div(class='col s2 m1 l1')
                i(class='medium material-icons circle') account_circle
                div
                  label(for="disabled", class="center") #{username}
              div(class='col s10 m11 l11')
                div(class='class="input-field col s10 m10 l10')
                  label(for='content') Post:
                  textarea#content.form-control(name='content' class="materialize-textarea" maxlength="280")
                button.btn.btn-primary(type='submit', class='left btn-floating')
                  i(class='material-icons') forum

  ul(class='collection with-header')
    li(class='collection-header')
      h5= title
  each post in post_list
    li 
      div(class='row')
        div(class='col s2 m1 l1')
          i(class='medium material-icons circle') account_circle   
        div(class='col s10 m11 s11')
          span #{post.author}         
          p #{post.content}

  else
    li 
      i(class='small material-icons circle') hourglass_empty
      span No posts yet.